<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>EpiSNPdb</title>
    <link rel="shortcut icon" type="image/x-icon" href="EpiSNPdb/favicon.ico">
    <script defer="defer" src="/EpiSNPdb/assets/js/chunk-vendors.079a7820.js"></script>
    <script defer="defer" src="/EpiSNPdb/assets/js/app.fe6b28a5.js"></script>
    <link href="/EpiSNPdb/assets/css/chunk-vendors.64953783.css" rel="stylesheet">
    <link href="/EpiSNPdb/assets/css/app.b7342f40.css" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
</body>

</html>